.white {
    color: white!important;
}

.noMargin {
    margin: 0!important;
}

.textAlignCenter {
    text-align: center;
}

.cursorPointer:hover {
    cursor: pointer;
}

.fullPage {
    width: 100vw!important;
    min-height: calc(100vh - 64px)!important;
}

.fullHeight {
    min-height: 100%;
}

.fullWidth {
    width: 100%;
}

.backgroundBlur {
    background: url("../images/cyber-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.marginTop {
    margin-top: 1rem!important;
}

.fullPageHeight {
    min-height: 100%;
}

.marginBottom {
    margin-bottom: 1rem!important;
}

.opaqueIcon {
    color: rgba(0,0,0,.25)
}

.largeIcon {
    font-size: 3rem;
}

.fontWeightLighter {
    font-weight: lighter!important;
}